---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import WorkSection from "../components/WorkSection.astro";
import ProjectCard from "../components/ProjectCard.astro";

import * as about from "../data/about.md";
import SideBar from "@/components/SideBar.astro";

const workEntries = await getCollection("work");
const sortedWorkEntries = workEntries.sort((a, b) => {
  return a.data.order - b.data.order;
});

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => {
  return a.data.order - b.data.order;
});
---

<Layout>
  <div class="grid md:grid-cols-[300px_1fr] lg:grid-cols-[400px_1fr] gap-4">
    <SideBar />
    <div class="space-y-4">
      <ContentLayout title={about.frontmatter.title}>
        <about.Content />
      </ContentLayout>
      <ContentLayout title="Work Experience">
        <div class="space-y-6">
          {sortedWorkEntries.map((work) => <WorkSection work={work} />)}
        </div>
      </ContentLayout>
      <ContentLayout title="Projects">
        <div class="grid sm:grid-cols-3 gap-4">
          {sortedProjects.map((project, index) => <ProjectCard index={index} project={project} />)}
        </div>
      </ContentLayout>
    </div>
  </div>
</Layout>
