---
const { variant } = Astro.props;
---

<span
  class:list={[
    "px-2 py-1 rounded text-xs",
    {
      "bg-teal-100 dark:bg-teal-900 text-teal-800 dark:text-teal-300":
        variant === "teal",
      "bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-gray-300":
        variant === "gray",
      "bg-purple-100 dark:bg-purple-900 text-purple-800 dark:text-purple-300":
        variant === "purple",
    },
  ]}
>
  <slot />
</span>
