---
const { variant } = Astro.props;
---

<span
  class:list={[
    "px-2 py-1 rounded text-xs",
    {
      "bg-teal-100 dark:bg-teal-900 text-teal-800 dark:text-teal-300":
        variant === "teal",
      "bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-gray-300":
        variant === "gray",
      "bg-purple-100 dark:bg-purple-900 text-purple-800 dark:text-purple-300":
        variant === "purple",
      "bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-300":
        variant === "blue",
      "bg-stone-100 dark:bg-stone-900 text-stone-800 dark:text-stone-300":
        variant === "stone",
    },
  ]}
>
  <slot />
</span>
