---
const { class: className, variant } = Astro.props;
---

<button
  class:list={[
    `flex items-center justify-center rounded-md px-4 py-2 h-10 gap-1 hover:cursor-pointer transition-colors duration-200 ${className}`,
    {
      "bg-purple-600 dark:bg-purple-700 hover:bg-purple-700 dark:hover:bg-purple-800":
        variant === "purple",
    },
    {
      "border-1 dark:border-0 bg-white dark:bg-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800":
        variant === "gray",
    },
  ]}
>
  <slot />
</button>
