---
import { render, type CollectionEntry } from "astro:content";
import Badge from "./Badge.astro";
import Button from "./Button.astro";
interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { Content } = await render(project);

const pattern = "/src/assets/random-shapes.svg";
---

<div class="bg-gray-100 dark:bg-gray-700 rounded-lg overflow-hidden flex flex-col h-full">
  <div
    class="h-40 bg-gradient-to-br from-purple-400 to-indigo-600 flex items-center justify-center"
  >
    <span class="text-white text-xl font-bold">
      {project.data.title}
    </span>
  </div>
  <div class="p-4 space-y-2 flex flex-col flex-grow">
    <h3 class="font-semibold dark:text-white">{project.data.title}</h3>
    <div class="text-sm text-gray-600 dark:text-gray-300">
      <Content />
    </div>
    <div class="flex flex-wrap gap-2">
      {project.data.tags?.map((tag) => <Badge variant="teal">{tag}</Badge>)}
    </div>
    <a href={project.data.githubUrl} target="_blank" class="mt-auto">
      <Button variant="gray" class="w-full dark:text-white">View details</Button>
    </a>
  </div>
</div>