---
const { href, ariaLabel } = Astro.props;
---

<a
  class="rounded-md flex p-2 items-center justify-center border-1 border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-950 hover:bg-gray-100 dark:hover:bg-gray-800 hover:cursor-pointer transition-colors duration-200 h-10 w-10"
  href={href}
  target="_blank"
  aria-label={ariaLabel}
>
  <slot />
</a>
